<h1 mat-dialog-title>
  <ng-container *ngIf="mode === 'add'">
    {{ 'event_add.title_add' | translate }}
  </ng-container>
  <ng-container *ngIf="mode === 'edit'">
    {{ 'event_add.title_edit' | translate }}
    {{ data.title }}
  </ng-container>
</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <!-- TYTUŁ -->
    <mat-form-field class="full-width">
      <input cdkFocusInitial formControlName="title" matInput placeholder="Tytuł" required> 
      <mat-error *ngIf="form.controls.title.invalid">
        <app-form-error [errors]="form.controls.title.errors"></app-form-error>
      </mat-error>
    </mat-form-field>
    <!-- DATA -->
    <mat-form-field class="full-width">
      <input [formControl]="form.controls.date"  matInput [matDatepicker]="picker2" placeholder="Data" disabled required>
      <mat-error *ngIf="form.controls.date.invalid">
        <app-form-error [errors]="form.controls.date.errors"></app-form-error>
      </mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2 disabled="false"></mat-datepicker>
    </mat-form-field>
    <!-- CZAS -->
    <mat-form-field class="full-width">
      <input formControlName="time" [ngxTimepicker]="picker" placeholder="Czas" [format]="24" required matInput>
      <ngx-material-timepicker  #picker></ngx-material-timepicker>
      <mat-error *ngIf="form.controls.time.invalid">
        <app-form-error [errors]="form.controls.time.errors"></app-form-error>
      </mat-error>
    </mat-form-field>
  </form>

</div>
<div mat-dialog-actions class="flex">
  <div class="spacer"></div>
  <button mat-button (click)="onCancelClick()">
    {{ 'event_add.actions.negative' | translate }}
  </button>
  <button mat-button (click)="onSubmit()">
    {{ 'event_add.actions.positive' | translate }}
  </button>
</div>