<h1 mat-dialog-title>
  {{ 'event_styling.title' | translate }}
</h1>
<div mat-dialog-content>
  <mat-tab-group  mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">image</mat-icon>
        {{ 'event_styling.background' | translate }}
      </ng-template>
      <app-event-background></app-event-background>
    </mat-tab>
  
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">color_lens</mat-icon>
        {{ 'event_styling.colors' | translate }}
      </ng-template>
      <app-color-theme-picker></app-color-theme-picker>
    </mat-tab>
  
  </mat-tab-group>
</div>
<div mat-dialog-actions class="flex">
  <div class="spacer"></div>
  <button mat-button (click)="onSubmit()">
    {{ 'event_styling.actions.ok' | translate }}
  </button>
</div>