
.container {
  padding-top: 16px;
}

.bg-image {
  height: 170px;
  width: auto;
  display: block;
  margin: auto auto 16px auto;
}

.edit-bg-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-row {
  padding: 10px;
}