
.event-list-item {
  cursor: pointer;
  overflow: hidden;
  border-radius: 10000000000px;
}

.active {
  background-color: rgba(0, 64, 255, 0.21);
}

mat-expansion-panel {
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;


}

.panel-header {
  min-height: 90px;
  font-size: 1.75em;

  .mat-content {
    display: block;
  }
}

mat-panel-description {
  font-size: 20px;
  margin-top: 8px;
}