@import '../../../assets/styles/variables.scss';

.clock-wrapper {
    display: inline-flex;
    padding-top: 55px;
    padding-left: $default-padding;
    padding-right: $default-padding;
    line-height: 50%;
}


.colon {
    font-size: 40px;
    line-height: 0;
    margin-left: 5px;
    margin-right: 5px;
}

.days-spacer {
    margin-left: 40px;
}

:host {
    
}

.label {
    position: relative;
    top: -10px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 15px;
}

.days {
    padding-left: 15px;
    padding-right: 15px;
}